@page "/adminview"
@inject HttpClient _client
<AuthorizeView Roles="Admin">
    <h3>AdminControllboard</h3>

    <div class="row">
        <div class="col-auto">
            <ListAccountsCustomers @bind-value="CustomerList" SelectCustomer="CustomerSelected" />
        </div>
        <div class="col-auto">
            <AccountList @bind-value="AccountList" SelectAccount="AccountSelected" />
        </div>
        <div class="col-auto">
            <LoanGenerator @bind-Value="Loan" />
        </div>
    </div>
</AuthorizeView>
@code {
    List<CustomerDTO> CustomerList = new();
    List<AccountDTO> AccountList = new();

    CustomerDTO Customer { get; set; }
    AccountDTO Account { get; set; }
    LoanDTO Loan { get; set; }

    protected override async Task OnInitializedAsync()
    {
        CustomerList = await _client.GetFromJsonAsync<List<CustomerDTO>>(_client.BaseAddress + "api/admin");
    }

    private async void CustomerSelected(int id)
    {
        Customer = CustomerList.First(x => x.CustomerId == id);
        AccountList = await _client.GetFromJsonAsync<List<AccountDTO>>(_client.BaseAddress + "api/admin/" + id);

    }

    private void AccountSelected(int id)
    {
        Loan.AccountId = id;

    }
}