@page "/login"
@inject IAuthenticationService AuthService
@inject NavigationManager NavManager

<h3>Log in</h3>

@if (showAuthenticationError)
{
    <div class="alert-danger" role="alert"><p>@authenticationErrorText</p></div>
}

<EditForm Model="model" OnValidSubmit="ExecuteLogin">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="from-group row">
        <label for="username" class="col-md-2 col-form-label">Username:</label>
        <div class="col-md-10">
            <InputText id="username" class="from-control" @bind-Value="model.Username" />
            <ValidationMessage For="@(() => model.Username)" />
        </div>
        <label for="password" class="col-md-2 col-form-label">Password:</label>
        <div class="col-md-10">
            <InputText type="password" id="password" class="from-control" @bind-Value="model.Password" />
            <ValidationMessage For="@(() => model.Password)" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-right">
            <button type="submit" class="btn btn-success">Log in</button>
        </div>
    </div>
</EditForm>

@code {
    private AuthenticationUserModel model = new();

    private bool showAuthenticationError = false;
    private string authenticationErrorText = "";

    private async Task ExecuteLogin()
    {
        showAuthenticationError = false;

        var result = await AuthService.Login(model);

        if (result != null)
        {
            NavManager.NavigateTo("/");
        }
        else
        {
            authenticationErrorText = "Unknown login error";
            showAuthenticationError = true;
        }
    }
}