@model BankApp.Enteties.DataTransferObjects.AccountTypeDTO

<div class="container">

    <form asp-action="NewAccountType" asp-controller="Admin">

        <input type="text" asp-for="TypeName" class="form-control" />
        <input type="text" asp-for="Description" class="form-control" />
        <button type="submit" class="btn btn-primary" >Skapa AccountTyp</button>

    </form>

</div>