@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity.Name!
        <button class="nav-link btn btn-link">Log out</button>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code{

    //[CascadingParameter]
    //private Task<AuthenticationState> authentication { get; set; };

    //private IList<Claim> userClaim { get; set; } = new List<Claim>() { };

    //private void Login()
    //{

    //}
    //private void Logout()
    //{

    //}
}
