@page

<div class="container-fluid">
    <div class="row">

        <div class="col border-right">
            @*Customer list*@
            @(await Component.InvokeAsync("Customers"))
        </div>
        <div class="col border-right">
            @*New Customer Acc*@
            @(await Component.InvokeAsync("RegisterCustomer"))
        </div>
        <div class="col border-right">
            @*Customer login*@
            @(await Component.InvokeAsync("AddCustomerLogin"))
        </div>
        <div class="col border-right">
            @*New accounttype*@
            @(await Component.InvokeAsync("NewAccountType"))
        </div>
    </div>
</div>