@page
@model BankApp.Enteties.DataTransferObjects.LoanDTO
<div class="container">

    <form asp-action="Loan" asp-controller="Admin">
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })

        <input asp-for="AccountId" type="hidden" value="@Model.AccountId" class="form-control" />
        <input type="hidden" value="@DateTime.Now" class="form-control" asp-for="Date" />
        <input type="number" asp-for="Amount" class="form-control" />
        <input type="number" step="1" asp-for="Duration" class="form-control" />
        <input asp-for="Payments" class="form-control" value="0" type="number" disabled />

        <select asp-for="Status" class="form-control">
            <option value="Running">Running</option>
            <option value="Running-Client in dept">Running-Client in dept</option>
            <option value="Finished">Finished</option>
            <option value="Finished-Not payed">Finished-Not payed</option>
        </select>
    </form>
</div>