@using BankApp.Enteties.Models.RequestFeatures;
@{

    var customer = ViewData["Customer"] as BankApp.Enteties.DataTransferObjects.CustomerDTO;
    var accounts = ViewData["Accounts"] as List<BankApp.Enteties.DataTransferObjects.AccountDTO>;
    var loans = ViewData["Loans"] as List<BankApp.Enteties.DataTransferObjects.LoanDTO>;
    var cards = ViewData["Cards"] as List<BankApp.Enteties.DataTransferObjects.CardDTO>;
    var accountTypes = ViewData["AccountTypes"] as List<BankApp.Enteties.DataTransferObjects.AccountTypeDTO>;

    string name = $"{customer.Surname} {customer.Givenname}";

}
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.unobtrusive-ajax/3.2.5/jquery.unobtrusive-ajax.min.js"></script>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    @*Name of customer*@
                    <p>
                        Välkommen: @name
                    </p>
                </div>

                <div class="card-body">
                    @*list of accounts*@
                    <div class="row">
                        <div class="col-12">
                            <ul class="list-group-horizontal">
                                @foreach (var acc in accounts)
                                {
                                    <li class="list-group-item">
                                        <div>
                                            @*Link to show transactions for account*@
                                            <p>@acc.AccountId</p>
                                            <div class="d-flex justify-content-between">
                                                <p>Saldo: @acc.Balance</p>
                                                <p>Kontotyp: @accountTypes.FirstOrDefault(x => x.AccountTypeId == acc.AccountTypesId).TypeName</p>
                                            </div>
                                        </div>

                                        <a class="btn btn-secondary"
                                           asp-action="InitiateTransactions"
                                           asp-controller="Home"
                                           asp-route-accountId="@acc.AccountId"
                                           data-ajax="true"
                                           data-ajax-metod="get"
                                           data-ajax-mode="replace"
                                           data-ajax-update="#transactions">
                                            Visa transaktioner
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        @*List of resent transactions for account*@
                        <div class="col">

                            <div id="transactions">
                            </div>
                            <div class="d-inline-flex justify-content-between">

                                <a id="show-prev" class="btn btn-secondary"
                                   asp-action="PrevTransactions"
                                   asp-controller="Home"
                                   data-ajax="true"
                                   data-ajax-update="#transactions"
                                   data-ajax-mode="replace"
                                   data-ajax-loading="#spinner">
                                    <section>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.1472.146a.5.50  1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
                                        </svg>
                                    </section>

                                    Backa
                                </a>
                                <a id="show-next" class="btn btn-secondary"
                                   asp-action="NextTransactions"
                                   asp-controller="Home"
                                   data-ajax="true"
                                   data-ajax-update="#transactions"
                                   data-ajax-mode="replace"
                                   data-ajax-loading="#spinner">
                                    Nästa
                                    <section>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0001h5.793l-2.1472.146a.5.5  0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
                                        </svg>
                                    </section>
                                </a>
                            </div>
                        </div>
                        <div class="col">
                            @await Component.InvokeAsync("MakeTransaction")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>