<div class="">
    <div>
        <h1>Välkommen</h1>

        <p>Till inlämningsuppgiften för Programmering C# ASP.NET 2</p>

        <p>
            Beskrivning:
            Uppgiften handlar om att skapa en del av en bankapplikation som skall köras via webben.
            Eftersom banken planerar att bygga en mobilapplikation också skall lösningen innehålla ett web api som arbetar mot en färdig
            databas som ni får tillgång till. Den skall skrivas med ASP.NET Web api.

            Klientdelen är en webbapplikation som kommunicerar med web api:et.
            Den skall skrivas med någon ASP.NET teknik (MVC, Razor pages, Blazor).
            Uppgiften består av en obligatorisk G-del och en valfri VG-del.
        </p>
    </div>
</div>